html {
    background-color: black;
    font-family: Century Gothic;
    color: white;
    aspect-ratio: 16 / 10;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  #taskbar {
    background-color:  #0166B1;
    color: black;
    text-align: center;
    width: 66%;
    margin: auto;
    font-size: 20px;
    height: 30px;
    padding: 7.5px 0;
    text-align: center;
  
  }
  a {
    color: black;
    text-decoration: none;
    
  }
  a:hover{
    background-color: white;
    color:#0166B1;
    transition: 500ms;
  }
  img {
    margin-bottom: -4px;
  }
  .modelLinks{
    text-align: center;
    width: 70%;
    margin: auto;
  }
  #centerLink{
    margin-left: 31%;
    margin-right: 31%;
  }
  .model {
    color:white;
    font-weight: bold;
    font-size: 20px;
  }
  #model-1 {
    background-image: url("https://dealerimages.dealereprocess.com/image/upload/3137505");
    background-size: cover; /* Or contain */
    width: 50%;
    height: 75%;
    margin-left: -15%;
    clip-path: polygon(40% 0%, 400% 0%,400% 100%, 40% 100%);
    color:white;
    box-sizing: border-box;
    transition: border 0.3s ease;
  }
  #model-2 {
    background-image: url("https://cdn.motor1.com/images/mgl/koWJEP/s1/bmw-m4-coupe-2024-und-bmw-m4-cabrio-2024.webp");
    background-size: cover; /* Or contain */
    width: 50%;
    height: 75%;
    margin-left: 15.5%;
    margin-top: -46.57%;
    clip-path: polygon(40% 0%, 400% 0%,400% 100%, 40% 100%);
    box-sizing: border-box;
    transition: border 0.3s ease;
  }  
  #model-3 {
    background-image: url("https://cdn.bimmertoday.de/wp-content/uploads/2023/08/BMW-X6-Facelift-2023-M60i-Isle-of-Man-Green-G06-LCI-03-1536x1026.jpg");
    background-size: cover; /* Or contain */
    width: 38%;
    height: 75%;
    margin-left: 58.5%;
    margin-top: -46.57%;
    clip-path: polygon(20% 0%, 350% 0%,350% 100%, 20% 100%);
    color:white;
    box-sizing: border-box;
    transition: border 0.3s ease;
  }
  #model-1:hover, #model-2:hover, #model-3:hover {
    border: 5px solid #0166B1;
  }