html {
    background-color: black;
    font-family: Century Gothic;
    aspect-ratio: 16 / 10;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  #taskbar {
    background-color:  #a10000;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 66%;
    margin: auto;
    font-size: 20px;
    height: 30px;
    padding: 7.5px 0;
    text-align: center;
  
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  a:hover{
    background-color: white;
    color:#a10000;
    transition: 500ms;
  }


 label{
    color:white;
    width:50%;
    margin-left:47.5%;
  }
  input{
    width:50%;
    margin-left:25%;
    font-size: 1rem;
  }


  #searchResults{
    color:white;
    width:50%;
    margin: auto;
    border: white;
    border-bottom-style: double;
    border-top-style: double;
    border-right-style: solid;
    border-left-style: solid;
    margin-top: 50px;
  }
  #oneResult{
    border-bottom-style: double;
    border-top-style: double;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
  }