html {
    background-color: black;
    font-family: Century Gothic;
    aspect-ratio: 16 / 10;
    color: white;
  }
  h1 {
    color: white;
    text-align: center;
    font-size: 35px;
    padding-top: 35px;
    padding-bottom: 15px;
  }
  #taskbar {
    border-bottom:  #471010 3px solid;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 66%;
    margin: auto;
    font-size: 20px;
    height: 30px;
    padding: 7.5px 0;
    text-align: center;
    position: sticky;
  }
  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
  }
  a:hover{
    background-color: white;
    color:#471010;
    transition: 500ms;
  }


 label{
    color:white;
    width:50%;
    margin-left:47.5%;
  }
  input{
    width:50%;
    margin-left:25%;
    font-size: 1rem;
  }


  #searchResults{
    color:white;
    width:50%;
    margin: auto;
    border: white;
    border-bottom-style: double;
    border-top-style: double;
    border-right-style: solid;
    border-left-style: solid;
    margin-top: 50px;
  }
  #oneResult{
    border-bottom-style: double;
    border-top-style: double;
    border-right-style: solid;
    border-left-style: solid;
    text-align: center;
  }
  .brands{
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    display: flex; /* makes content and image align horizontally */
    align-items: center; /* centers image and text vertically */
    justify-content: flex-start; /* Aligns content left */
}

p.content {
    color: white;
    padding-left: 40px; 
    margin: 0;
}
  .subtitle {
    border-top: solid #471010 1px;
    color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }
  #side-nav {
    position: fixed;
    top: 180;
    left: 0;
    background-color: #000000;
    padding: 0px 15px;
    width: 10%;
    text-align: center;
    margin-left: 60px;
    border: solid #471010 3px;
}

#side-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: left;
}

#side-nav a:hover {
    background-color: #422525;
}
